node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

dist/

.env
.DS_Store

coverage/

*.local
.idea/
.vscode/
*.log

package-lock.json
pnpm-lock.yaml
yarn.lock

.nyc_output/
.cache/

tmp/
temp/